:block(panel) {
    width: 70%;

    &:elem(header) {
        display: table;
        width: 100%;
        border-bottom: 1px solid #079
    }

    &:elem(side) {
        text-align: center;
    }

    &:elem(info) {
        padding: 10px;
    }

    &:elem(info-title) {
        display: inline-block;
        color: #079;
        font-weight: 600;
        padding: 0 5px 0 10px;
    }
}
