:block(toolbar) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    padding: 9px;
    background: #079;
    box-sizing: border-box;

    &:elem(buttons) {
        position: absolute;
        bottom: 10px;
    }

    &:elem(action)&:elem(action) {
        margin-left: 5px;
    }

    &:elem(toggle-verified) {
        color: #fff;
    }

    &:elem(button) {
        float: right;
    }
}
