:block(toolbar) {
    position: sticky;
    top: 0;
    width: 25%;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-left: 1px solid #e5e5e5;
    display: inline-block;
    vertical-align: top;

    &:elem(action)&:elem(action) {
        margin-top: 10px;
        display: block;
    }
}
