:block(main) {
   &__item{
        margin: 10px 0;
   }
   &__flex-wrapper {
        display:flex;
    }
    &__item_column_2 {
        width:50%;
    }
    &__item_column_2:first-child {
        padding-right: 20px}
}
