:block(alternative-translation) {
    background: #fff;
    margin: 38px 0 20px;
    text-align: left;
    display: block;
    min-height: 200px;
    max-height: 450px;
    overflow: scroll;
    padding: 10px;

    &:elem(translation) {
         display: block;
         box-sizing: border-box;
         border: 1px solid #079;
         padding: 10px;
    }
}
