:block(alternative-translation) {
    display: block;
    min-height: 200px;
    max-height: 450px;
    margin: 8px 0 20px;
    padding: 10px;

    overflow: scroll;

    background: #fff;

    text-align: left;

    &:elem(translation) {
        display: block;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #079;

        &:mod(bestMatch) {
            background: #ffdb4d;
        }
     }
}
