.spiner
{
    background: rgba(50,50,50,.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}

.spiner_visible
{
    display: block;
}

.spiner__spin
{
    top: 300px;
}
