:block(spiner) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;

    text-align: center;

    background: rgba(50,50,50,.2);

    &:mod(visible) {
        display: block;
    }

    &:elem(spin) {
        top: 300px;
    }
}
