:block(editor) {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
}

bpt, ept {
    position: relative;

    font-size: 0;
}

bpt::before, ept::before {
    display: inline-block;
    width: 24px;
    margin: 0 1px;

    content: attr(id);

    font-size: 14px;
    line-height: 17px;
    text-align: center;

    background: #ffdb4d;
}

bpt::before {
    padding: 0 7px 0 2px;
    border-radius: 0 100% 100% 0;
}

ept::before {
    padding: 0 2px 0 7px;
    border-radius: 100% 0 0 100%;
}
