:block(editor) {
    flex-direction: row;

    flex: 1;
    margin-bottom: 50px;

     &:elem(wrapper) {
         position: relative;
         display: table;
         width: 100%;
         border-bottom: 1px solid #079
     }

     &:elem(source) {
         display: inline-block;
         width: 45%;
         padding: 10px;
         box-sizing: border-box;
         display: table-cell;
           &:mod(focused) {
               background: #ffffe0;
           }
     }

     &:elem(target) {
         display: table-cell;
         width: 45%;
         padding: 0 10px;
         box-sizing: border-box;
         position: relative;
     }

     &:elem(status) {
         display: table-cell;
         width: 10%;
         padding: 10px;
         box-sizing: border-box;
         text-align: center;
     }

     &:elem(textarea) {
          vertical-align: middle;
          width: 95%;
          position: absolute;
          top: 0;
          bottom: 0;
          border-top: 0;
          border-bottom: 0;
          border-color: #079;
      }
}

.editor_unverified .editor__wrapper_verified {
    display: block;
    height: 2px;
    background: red;
    overflow: hidden;
}
